<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Space Missions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions">Missions</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/astronauts">Astronauts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/spacecraft">Spacecraft</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/destinations">Space Destinations</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/countries">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions_to_astronauts">Missions to Astronauts</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="col-md-8">
    <div class="jumbotron jumbotron-fluid pt-4 pl-2 pr-2">
        <div class="container-fluid row">
            <div class="col-md-8"><h2 class="text-secondary">Astronauts</h2></div>
            <div class="col-md-3">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Display by Country
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/astronauts">All</a>
                      {{#each countries}}
                        <a class="dropdown-item" href="/astronauts/{{country_id}}">{{name}}</a>
                      {{/each}}
                  </div>
                </div>
            </div>
            <div class="col-md-1"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add</button></div>

        <hr />

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Death Date</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="rowgroup">
                {{#each results}}
                <tr>
                    <td><button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-{{astronaut_id}}" aria-expanded="false" aria-controls="collapse-{{astronaut_id}}">></button></td>
                      <td id="{{astronaut_id}}_astronaut_id" style="display:none;">{{astronaut_id}}</td>
                      <td id="{{astronaut_id}}_first_name">{{first_name}}</td>
                      <td id="{{astronaut_id}}_last_name">{{last_name}}</td>
                      <td id="{{astronaut_id}}_birth_date">{{birth_date}}</td>
                      <td id="{{astronaut_id}}_death_date">{{death_date}}</td>
                      <td id="{{astronaut_id}}_country_name">{{cname}}</td>
                      <td id="{{astronaut_id}}_country_id" style="display:none;">{{country_id}}</td>
                      <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" value="{{astronaut_id}}" data-whatever="{{astronaut_id}}">Edit</button></td>
                      <td><form method="get" action="/astronauts/delete/{{astronaut_id}}/"><button type="submit" class="btn btn-primary btn-sm">Delete</button></form></td>
                </tr>
                <tr>
                    <td colspan="11" class="pt-0 pb-0">
                        <div class="collapse pt-0" id="collapse-{{astronaut_id}}">
                          <div class="card card-body">
                              <!-- many-to-many relationship -->
                              Missions:
                              <table class="table" id="AM-{{astronaut_id}}">

                              </table>
                              <div colspan="2">
                                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#maModal" data-whatever="{{astronaut_id}}">Add Mission</button>
                              </div>
                          </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-8">
<h3>How to Use</h3>
  <p>This page shows all astronauts in the database.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Display by Country</button> drop-down menu and select a country to view the astronauts from the selected country.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Add</button> button to add an astronaut to the database.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Edit</button> button to edit the details of a specific astronaut.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Delete</button> button to delete a specific astronaut.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">></button> button to view the missions that an astronaut served on, delete a relationship between an astronaut and a mission, or add a relationship between an astronaut and a mission.</p>

<h3>Implementation Notes</h3>
  <ul>
    <li>Best viewed on Chrome</li>
</ul>
</p>
</div>
<!-- ADD MODAL -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Astronaut</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" id="astronaut-add" name="astronaut-add" method="post" action="/astronauts/">
            <div class="form-group">
                  <label for="first_name" class="col-form-label">First Name:</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
                  <label for="last_name" class="col-form-label">Last name:</label>
                  <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
           <div class="form-group">
             <label for="birth_date" class="col-form-label">Birth Date:</label>
             <input type="date" class="form-control" id="birth_date" name="birth_date" required>
           </div>
           <div class="form-group">
             <label for="death_date" class="col-form-label">Death Date:</label>
             <input type="date" class="form-control" id="death_date" name="death_date">
           </div>
          <div class="form-group">
              <label for="country" class="col-form-label">Country</label>
                  <select class="form-control" id="country_id" name="country_id" form="astronaut-add">
                  <option value="">None</option>
                    {{#each countries}}
                      <option value="{{country_id}}">{{name}}</option>
                    {{/each}}
                </select>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-secondary">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END OF ADD MODAL -->

  <!-- EDIT MODAL -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Astronaut</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" id="editRow" action="/astronauts/update/" method="post" name="editRow" target="_self">
              <input type="hidden" id="astronaut_id" name="astronaut_id">
              <div class="form-group">
                    <label for="first_name" class="col-form-label">First Name:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
              </div>
              <div class="form-group">
                    <label for="last_name" class="col-form-label">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
              </div>
             <div class="form-group">
               <label for="birth_date" class="col-form-label">Birth Date:</label>
               <input type="date" class="form-control" id="birth_date" name="birth_date" required>
             </div>
             <div class="form-group">
               <label for="death_date" class="col-form-label">Death Date:</label>
               <input type="date" class="form-control" id="death_date" name="death_date">
             </div>
             <div class="form-group">
               <label for="edit_country_id" class="col-form-label">Country</label>
                   <select class="form-control" id="country_id" name="country_id" form="editRow">
                       <option value="">None</option>
                       {{#each countries}}
                         <option value="{{country_id}}">{{name}}</option>
                       {{/each}}
                   </select>
             </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <input type="submit" class="btn btn-secondary" value="Save" form="editRow">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END OF EDIT MODAL -->

    <!-- ADD MISSION TO ASTRONAUT MODAL -->
    <div class="modal fade" id="maModal" tabindex="-1" role="dialog" aria-labelledby="maModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="maModalLabel">Assign Mission to Astronaut</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" id="maAdd" action="/am/" method="post" name="maAdd" target="_self">
                <input type="hidden" id="astronaut_id" name="astronaut_id">
               <div class="form-group">
                 <label for="mission_id" class="col-form-label">Mission</label>
                     <select class="form-control" id="mission_id" name="mission_id" form="maAdd">
                         {{#each missions}}
                           <option value="{{mission_id}}">{{spacecraft_name}} to {{destination_name}} on {{launch_date}}</option>
                         {{/each}}
                     </select>
               </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-secondary" value="Save" form="maAdd">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- END OF ADD MISSION TO ASTRONAUT MODAL -->

    <script type="text/javascript">
        var myAPI = 'http://flip1.engr.oregonstate.edu:7796/am';
        loadEvent().then(processLoadEvent, errorHandler);

        function loadEvent() {
            return new Promise(function(resolve, reject) {
                var req = new XMLHttpRequest();
                req.open('GET', myAPI, true);
                req.onreadystatechange = function() {
                    if (req.readyState === 4) {
                        if (req.status === 200) {
                            console.log("req done successfully");
                            resolve(JSON.parse(req.responseText));
                        } else {
                            reject(req.status);
                            console.log("req failed");
                        }
                    } else {
                        console.log("req processing going on");
                    }
                }
                req.send(null);
            });
        }

        function processLoadEvent(elements) {
           setTimeout(function() {
               console.log(elements);
               //Add New Row
               for (var i in elements) {
                   console.log(elements[i]);
                   var myElement = document.getElementById("AM-" + elements[i].astronaut_id);
                   if(myElement){
                        var newTR = document.createElement("tr");
                        var ending = elements[i].mission_id + "\/" + elements[i].astronaut_id + "\/";
                        newTR.innerHTML = "<td>" + elements[i].sname + " to " + elements[i].dname + " from " + elements[i].launch_date + " to " + elements[i].end_date + "</td><td><form class='form-inline' method='get' action='/am/delete/" + ending + "'><button type='submit' class='btn btn-primary btn-sm float-right'>Delete</button></form></td>";
                        myElement.appendChild(newTR);
                   }

               }
           }, 0);
        }
        function errorHandler(statusCode){
         console.log("failed with status", status);
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script>
        // Source code for Bootstrap modal adapted from :
        // https://getbootstrap.com/docs/4.0/components/modal/
        $('#editModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes


          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('Edit Mission # ' + recipient)

          document.editRow.astronaut_id.value  = recipient;
          document.editRow.first_name.value    = document.getElementById(recipient + '_first_name').innerHTML;
          document.editRow.last_name.value     = document.getElementById(recipient + '_last_name').innerHTML;
          document.editRow.birth_date.value    = document.getElementById(recipient + '_birth_date').innerHTML;
          document.editRow.death_date.value    = document.getElementById(recipient + '_death_date').innerHTML;
          document.editRow.country_id.value    = Number(document.getElementById(recipient + '_country_id').innerHTML);
        })
    </script>
    <script>
      // Source code for Bootstrap modal adapted from :
      // https://getbootstrap.com/docs/4.0/components/modal/
      $('#maModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Add Mission to Astronaut # ' + recipient)
        document.maAdd.astronaut_id.value  = recipient;
      })
  </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
