<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Space Missions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions">Missions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/astronauts">Astronauts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/spacecraft">Spacecraft</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/destinations">Space Destinations <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/countries">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions_to_astronauts">Missions to Astronauts</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="col-md-8">
    <div class="jumbotron jumbotron-float pt-4 pl-2 pr-2">
        <div class="container-fluid row">
            <div class="col-md-8"><h2 class="text-secondary">Space Destinations</h2></div>
            <div class="col-md-3">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by distance
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/destinations/desc">Descending</a>
                        <a class="dropdown-item" href="/destinations/asc">Ascending</a>
                  </div>
                </div>
            </div>
            <div class="col-md-1"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button></div>
        </div>

        <hr />

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Distance From Earth (mi.)</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="rowgroup">
                {{#each results}}
                <tr>
                      <td id="{{destination_id}}_id" style="display:none;">{{destination_id}}</td>
                      <td id="{{destination_id}}_name">{{name}}</td>
                      <td id="{{destination_id}}_distance_from_earth">{{distance_from_earth}}</td>
                      <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" id="editRow{{destination_id}}" value="{{destination_id}}" data-whatever="{{destination_id}}">Edit</button></td>
                      <td><form method="get" action="/destinations/delete/{{destination_id}}/"><button type="submit" class="btn btn-primary btn-sm">Delete</button></form></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-8">
<h3>How to Use</h3>
  <p>This page shows all space destinations in the database.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Sort by Distance</button> and select an option to sort the destinations by distance in ascending or descending order.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Add</button> button to add a destination to the database.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Edit</button> button to edit the details of a specific destination.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Delete</button> button to delete a specific destination.</p>

<h3>Implementation Notes</h3>
  <ul>
    <li>Best viewed on Chrome</li>
</ul>
</p>
</div>
<!-- Add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Destination</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="needs-validation" id="addRow" name="addRow" method="post" action"/destinations">
              <div class="form-group">
                    <label for="name" class="col-form-label">Destination Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="form-group">
                    <label for="distance_from_earth" class="col-form-label">Distance From Earth (mi):</label>
                    <input type="text" class="form-control" id="distance_from_earth" name="distance_from_earth" required>
              </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-secondary">
            </div>
          </form>

      </div>

    </div>
  </div>
  <!-- End Add Modal -->

  <!-- EDIT MODAL -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Destination</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" id="editRow" name="editRow" action="/destinations/update/" method="post">
              <input type="hidden" id="destination_id" name="destination_id">
              <div class="form-group">
                    <label for="name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="form-group">
                    <label for="distance_from_earth" class="col-form-label">Distance From Earth (mi.):</label>
                    <input type="text" class="form-control" id="distance_from_earth" name="distance_from_earth" required>
              </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <input type="submit" class="btn btn-secondary" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END OF EDIT MODAL -->

    <script>
    // Source for data validation code: https://getbootstrap.com/docs/4.0/components/forms/#server-side
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script>
        // Source code for Bootstrap modal adapted from :
        // https://getbootstrap.com/docs/4.0/components/modal/
        $('#editModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes


          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('Edit Destination')

          document.editRow.destination_id.value       = recipient;
          document.editRow.name.value                 = document.getElementById(recipient + '_name').innerHTML;
          document.editRow.distance_from_earth.value  = Number(document.getElementById(recipient + '_distance_from_earth').innerHTML);
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
