<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Space Missions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions">Missions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/astronauts">Astronauts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/spacecraft">Spacecraft</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/destinations">Space Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/countries">Countries</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/missions_to_astronauts">Missions to Astronauts<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="col-md-8">
    <div class="jumbotron jumbotron-fluid pt-4">
        <div class="container-fluid row">
            <div class="col-md-8"><h2 class="text-secondary">Missions to Astronauts</h2></div>
            <div class="col-md-4"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Astronaut to Mission</button></div>
        </div>

        <hr />

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Mission</th>
                <th>Astronaut</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="rowgroup">
                {{#each results}}
                <tr>
                      <td id="{{mission_id}}_mission_id" style="display:none;">{{mission_id}}</td>
                      <td>{{spacecraft_name}} to {{destination_name}} on {{launch_date}}</td>
                      <td id="{{astronaut_id}}_astronaut_id" style="display:none;">{{astronaut_id}}</td>
                      <td>{{first_name}} {{last_name}}</td>
                      <td id="{{astronaut_id}}_first_name" style="display:none;">{{first_name}}</td>
                      <td id="{{astronaut_id}}_last_name" style="display:none;">{{last_name}}</td>
                      <td><form method="get" action="/missions_to_astronauts/delete/{{mission_id}}/{{astronaut_id}}/"><button type="submit" class="btn btn-primary btn-sm">Delete</button></form></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-8">
<h3>How to Use</h3>
  <p>This page shows all relationships between missions and astronauts in the database.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Add Astronaut to Mission</button> button to add a relationship between an astronaut and a mission.</p>
  <p>Use the <button type="button" class="btn btn-primary btn-sm">Delete</button> button next to a relationship pair in the table to delete that relationship from the database.</p>


<h3>Implementation Notes</h3>
  <ul>
    <li>Best viewed on Chrome</li>
</ul>
</p>
</div>
<!-- ADD MODAL -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Mission to Astronaut Relationship</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="mission-to-astronaut-add" name="mission-to-astronaut-add"  method="post" action"/missions_to_astronauts">
            <input type="hidden" id="edit-id" name="editId">
              <div class="form-group">
                    <label for="mission_id" class="col-form-label">Mission:</label>
                    <select class="form-control" id="mission_id" name="mission_id" form="mission-to-astronaut-add">
                        {{#each missions}}
                          <option value="{{mission_id}}">{{spacecraft_name}} to {{destination_name}} on {{launch_date}}</option>
                        {{/each}}
                    </select>
              </div>
              <div class="form-group">
                    <label for="astronaut_id" class="col-form-label">Astronaut:</label>
                    <select class="form-control" id="astronaut_id" name="astronaut_id" form="mission-to-astronaut-add">
                        {{#each astronauts}}
                          <option value="{{astronaut_id}}">{{first_name}} {{last_name}}</option>
                        {{/each}}
                    </select>
              </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-secondary">
          </div>
          </form>
      </div>
    </div>
  </div>

  <!-- EDIT MODAL -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Mission to Astronaut Relationships</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editRow" name="editRow"  method="post" action"/missions_to_astronauts">
            <input type="hidden" id="edit-id" name="editId">
              <div class="form-group">
                    <label for="destination_id" class="col-form-label">Mission ID:</label>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{#each destinations}}
                          <div class="dropdown-item">{{name}}</div>
                        {{/each}}
                    </div>
              </div>
              <div class="form-group">
                    <label for="spacecraft_id" class="col-form-label">Astronaut ID:</label>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{#each spacecraft}}
                          <div class="dropdown-item">{{name}}</div>
                        {{/each}}
                    </div>
              </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-secondary">
          </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
