<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Space Missions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/missions">Missions<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/astronauts">Astronauts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/spacecraft">Spacecraft</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/destinations">Space Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/countries">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions_to_astronauts">Missions to Astronauts</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
  -->
    </ul>
  </div>
</nav>
<br>
<div class="col-md-8">
    <div class="jumbotron pt-4">
        <div class="container-fluid row">
            <div class="col-md-8"><h2 class="text-secondary">Space Missions</h2></div>
            <div class="col-md-3">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Display by Country
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/missions">All</a>
                      {{#each countries}}
                        <a class="dropdown-item" href="/missions/{{country_id}}">{{name}}</a>
                      {{/each}}
                  </div>
                </div>
            </div>
            <div class="col-md-1"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add</button></div>
        </div>

        <hr />

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Spacecraft</th>
                <th>Destination</th>
                <th>Launch Date</th>
                <th>End Date</th>
                <th>Success</th>
                <th>Country</th>
                <th>Edit / Delete</th>
            </tr>
            </thead>
            <tbody id="rowgroup">
                {{#each results}}
                <tr>
                    <td><button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-{{mission_id}}" aria-expanded="false" aria-controls="collapse-{{mission_id}}">></button></td>
                      <td style="display:none;">{{mission_id}}</td>
                      <td>{{sname}}</td>
                      <td>{{dname}}</td>
                      <td>{{launch_date}}</td>
                      <td>{{end_date}}</td>
                      <td>{{msuccess}}</td>
                      <td>{{cname}}</td>
                    <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal">Edit</button>
                      <form method="get" action="/missions/delete/{{mission_id}}">
                          <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                      </form></td>
                </tr>
                <tr>
                    <td colspan="8">
                        <div class="collapse" id="collapse-{{mission_id}}">
                          <div class="card card-body">
                              <!-- Many-to-many relationship -->
                              <ul id="MA-{{mission_id}}">
                              </ul>
                          </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- ADD MODAL -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Space Mission</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="mission-add" name="mission-add"  method="post" action"/missions">
            <input type="hidden" id="edit-id" name="editId">
              <div class="form-group">
                    <label for="destination_id" class="col-form-label">Destination:</label>
                    <select class="form-control" id="destination_id" name="destination_id" form="mission-add">
                        {{#each destinations}}
                          <option value="{{destination_id}}">{{name}}</option>
                        {{/each}}
                    </select>
              </div>
              <div class="form-group">
                    <label for="spacecraft_id" class="col-form-label">Spacecraft:</label>
                    <select class="form-control" id="spacecraft_id" name="spacecraft_id" form="mission-add">
                        {{#each spacecraft}}
                          <option value="{{spacecraft_id}}">{{name}}</option>
                        {{/each}}
                    </select>
              </div>
             <div class="form-group">
               <label for="launch_date" class="col-form-label">Launch Date:</label>
               <input type="date" class="form-control" id="launch_date" name="launch_date">
             </div>
             <div class="form-group">
               <label for="end_date" class="col-form-label">End Date:</label>
               <input type="date" class="form-control" id="end-date" name="end_date">
             </div>
            <div class="form-group">
              <label for="country_id" class="col-form-label">County</label>
                <select class="form-control" id="country_id" name="country_id" form="mission-add">
                      {{#each countries}}
                        <option value="{{country_id}}">{{name}}</option>
                      {{/each}}
                  </select>
            </div>
            <div class="form-group">
              <fieldset class="form-group align-items-center">
                  <div class="form-row align-items-center">
                      <legend class="col-form-label">Success:</legend>
                        <div class="col-sm-9">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input form-check" type="radio" name="success" id="success" value="1">
                            <label class="form-check-label form-check" for="success">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input form-check" type="radio" name="success" id="success" value="0">
                            <label class="form-check-label form-check" for="success">No</label>
                          </div>
                      </div>
                    </div>
              </fieldset>
            </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-secondary">
          </div>
          </form>
      </div>
    </div>
  </div>

  <!-- EDIT MODAL -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Space Mission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editRow" name="editRow"  method="post" action"/destinations">
            <input type="hidden" id="edit-id" name="editId">
              <div class="form-group">
                    <label for="destination_id" class="col-form-label">Destination:</label>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{#each destinations}}
                          <div class="dropdown-item">{{name}}</div>
                        {{/each}}
                    </div>
              </div>
              <div class="form-group">
                    <label for="spacecraft_id" class="col-form-label">Spacecraft:</label>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{#each spacecraft}}
                          <div class="dropdown-item">{{name}}</div>
                        {{/each}}
                    </div>
              </div>
             <div class="form-group">
               <label for="launch_date" class="col-form-label">Launch Date:</label>
               <input type="date" class="form-control" id="launch_date" name="launch_date">
             </div>
             <div class="form-group">
               <label for="end_date" class="col-form-label">End Date:</label>
               <input type="date" class="form-control" id="end-date" name="end_date">
             </div>
            <div class="form-group">
              <label for="country_id" class="col-form-label">County</label>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {{#each countries}}
                        <div class="dropdown-item">{{name}}</div>
                      {{/each}}
                  </div>
            </div>
            <div class="form-group">
              <fieldset class="form-group align-items-center">
                  <div class="form-row align-items-center">
                      <legend class="col-form-label">Success:</legend>
                        <div class="col-sm-9">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input form-check" type="radio" name="success" id="success" value="1">
                            <label class="form-check-label form-check" for="success">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input form-check" type="radio" name="success" id="success" value="0">
                            <label class="form-check-label form-check" for="success">No</label>
                          </div>
                      </div>
                    </div>
              </fieldset>
            </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-secondary">
          </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
          var myAPI = 'http://flip1.engr.oregonstate.edu:7798/ma';
          loadEvent().then(processLoadEvent, errorHandler);

          function loadEvent() {
              return new Promise(function(resolve, reject) {
                  var req = new XMLHttpRequest();
                  req.open('GET', myAPI, true);
                  req.onreadystatechange = function() {
                      if (req.readyState === 4) {
                          if (req.status === 200) {
                              console.log("req done successfully");
                              resolve(JSON.parse(req.responseText));
                          } else {
                              reject(req.status);
                              console.log("req failed");
                          }
                      } else {
                          console.log("req processing going on");
                      }
                  }
                  req.send(null);
              });
          }

          function processLoadEvent(elements) {
             setTimeout(function() {
                 console.log(elements);
                 //Add New Row
                 for (var i in elements) {
                     console.log(elements[i]);
                     var myElement = document.getElementById("MA-" + elements[i].mission_id);
                     if(myElement){
                          var newLI = document.createElement("li");
                          newLI.innerHTML = "" + elements[i].first_name + " " + elements[i].last_name;
                          myElement.appendChild(newLI);
                     }

                 }
             }, 0);
          }
          function errorHandler(statusCode){
           console.log("failed with status", status);
          }
      </script>
