<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Space Missions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions">Missions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/astronauts">Astronauts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/spacecraft">Spacecraft</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/destinations">Space Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/countries">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions_to_astronauts">Missions to Astronauts</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="col-md-8">
    <div class="jumbotron jumbotron-fluid pt-4 pl-2 pr-2">
        <div class="container-fluid row">
            <div class="col-md-8"><h2 class="text-secondary">Spacecraft</h2></div>
            <div class="col-md-3">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Display by Country
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/spacecraft">All</a>
                      {{#each countries}}
                        <a class="dropdown-item" href="/spacecraft/{{country_id}}">{{name}}</a>
                      {{/each}}
                  </div>
                </div>
            </div>
            <div class="col-md-1"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button></div>
        </div>

        <hr />

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Spacecraft Name</th>
                <th>Service Start Date</th>
                <th>Service End Date</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="rowgroup">
                {{#each results}}
                <tr>
                      <td id="{{spacecraft_id}}_id" style="display:none;">{{spacecraft_id}}</td>
                      <td id="{{spacecraft_id}}_name">{{name}}</td>
                      <td id="{{spacecraft_id}}_service_start_date">{{service_start_date}}</td>
                      <td id="{{spacecraft_id}}_service_end_date">{{service_end_date}}</td>
                      <td id="{{spacecraft_id}}_country_name">{{cname}}</td>
                      <td id="{{spacecraft_id}}_country_id" style="display:none">{{country_id}}</td>
                      <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal"  id="editRow{{spacecraft_id}}" value="{{spacecraft_id}}" data-whatever="{{spacecraft_id}}">Edit</button></td>
                      <td><form method="get" action="/spacecraft/delete/{{spacecraft_id}}/"><button type="submit" class="btn btn-primary btn-sm">Delete</button></form></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-8">
<p>
    Implementation Notes:
    <ul>
        <li>Best viewed on Chrome</li>
    </ul>
</p>
</div>
<!-- Add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Spacecraft</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" id="spacecraft-add" name="spacecraft-add" method="post" action"/spacecraft">
            <input type="hidden" id="edit-id" name="editId">
            <div class="form-group">
                  <label for="name" class="col-form-label">Spacecraft Name:</label>
                  <input type="text" class="form-control" id="name" name="name" required>
            </div>
           <div class="form-group">
             <label for="service_start_date" class="col-form-label">Service Start Date:</label>
             <input type="date" class="form-control" id="service_start_date" name="service_start_date" required>
           </div>
           <div class="form-group">
             <label for="service_end_date" class="col-form-label">Service End Date:</label>
             <input type="date" class="form-control" id="service_end_date" name="service_end_date">
           </div>
          <div class="form-group">
            <label for="country" class="col-form-label">Country</label>
                <select class="form-control" id="country_id" name="country_id" form="spacecraft-add">
                  {{#each countries}}
                    <option value="{{country_id}}">{{name}}</option>
                  {{/each}}
              </select>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-secondary">
          </div>
        </form>

      </div>

    </div>
  </div>

  <!-- EDIT MODAL -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Spacecraft</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" id="editRow" name="editRow" action="/spacecraft/update/" method="post" target="_self">
              <input type="hidden" id="spacecraft_id" name="spacecraft_id">
              <div class="form-group">
                    <label for="name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" requied>
              </div>
              <div class="form-group">
                    <label for="service_start_date" class="col-form-label">Service Start Date:</label>
                    <input type="date" class="form-control" id="service_start_date" name="service_start_date" requied>
              </div>
              <div class="form-group">
                    <label for="service_end_date" class="col-form-label">Service End Date:</label>
                    <input type="date" class="form-control" id="service_end_date" name="service_end_date">
              </div>
              <div class="form-group">
                  <label for="country_id" class="col-form-label">Country</label>
                      <select class="form-control" id="country_id" name="country_id" form="editRow">
                          {{#each countries}}
                            <option value="{{country_id}}">{{name}}</option>
                          {{/each}}
                      </select>
              </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <input type="submit" class="btn btn-secondary" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END OF EDIT MODAL -->

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script>
        // Source code for Bootstrap modal adapted from :
        // https://getbootstrap.com/docs/4.0/components/modal/
        $('#editModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes


          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('Edit Spacecraft # ' + recipient)


          document.editRow.spacecraft_id.value       = recipient;
          document.editRow.name.value                = document.getElementById(recipient + '_name').innerHTML;
          document.editRow.service_start_date.value  = document.getElementById(recipient + '_service_start_date').innerHTML;
          document.editRow.service_end_date.value    = document.getElementById(recipient + '_service_end_date').innerHTML;
          document.editRow.country_id.value          = Number(document.getElementById(recipient + '_country_id').innerHTML);
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
